<h3>Archived tweets</h3>
<% if @archived_tweets.size > 0 %>
  <%= render @archived_tweets %>
<% else %>
  <i>None yet. Schedule some tweets and they'll appear here after they've been sent.</i>
<% end %>