<% if current_user %>
  <h3>Schedule a new tweet</h3>

  <%= render :partial => 'form' %>

  <h3>Pending tweets</h3>

  <% if @upcoming_tweets.empty? %>
    No upcoming tweets currently scheduled.
  <% else %>
    <div id="tweets">
      <%= render @upcoming_tweets %>
    </div>
  <% end %>
<% else %>
  <h3>Oh hello!</h3>
  <p><%= APP_NAME %> lets you schedule tweets to be sent out at a future point in time via an easy bookmarklet with auto-login and link shortener support. <a href="auth/twitter">Connect</a> via your Twitter account to get started.</p>
  <p>This app is primarily being developed for my curated <a href="http://twitter.com/martiansoil">Martian Soil</a> Twitter account and learn more about Ruby on Rails, but anyone else is welcome to try it out. Drop me (Joost Schuur) <a href="mailto:jschuur@jschuur.com">a line</a> and let me know what you think if you use it..</p>
<% end %>