<% if current_user %>
  <h3>Schedule a new tweet</h3>

  <%= render :partial => 'form' %>

  <h3>Pending tweets</h3>

  <% if @upcoming_tweets.empty? %>
    <i>No upcoming tweets currently scheduled.</i>
  <% else %>
    <div id="upcoming_tweets">
      <%= render @upcoming_tweets %>
    </div>
  <% end %>
<% else %>
  <h3>Oh hello!</h3>
  <%= APP_NAME %> lets you schedule tweets to be sent out at a future point in time via an easy bookmarklet with auto-login and link shortener support. <a href="auth/twitter">Connect</a> via your Twitter account to get started.
<% end %>