/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 * require_tree . 
*/
html,body {
  margin:  0;
/*  font-family: Verdana, Helvetica, Arial;*/
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: #f8f8f8;
}

a {
  color: #c60;
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

h3 {
  font-family: 'Varela', sans-serif;
}

#container {
  min-height: 100%;
}

#header {
  overflow: hidden;
  padding: 10px 20px 5px 80px;
  background-color: #A2B09D;
  border-bottom: 8px solid #D2382C;
}

ul#nav {
  float: right;
  font-size: 8pt;
  margin: 6px 0 0 0;
  padding: 0;
  border: 1px solid #BBB;
  border-top-color: #CCC;
  border-bottom-color: #A0A0A0;
}

ul#nav li {
/*  background-color: #d8d8d8;*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E3E3E3');
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -moz-linear-gradient(top,  #F9F9F9,  #E3E3E3);
  list-style: none;
  float: left;
  padding: 5px;
  margin: 0;
  border-right: 1px solid #bbb;
}

ul#nav li:last-child {
  border-right: 0px;
}

#brand h1 {
  margin: 0;
  font-size: 28pt;
  font-family: 'Aclonica', sans-serif;
}

#brand {
  float: left;
}

#header a:link, #header a:visited {
  color: black;
  text-decoration: none;
}

#main {
  overflow: auto;
  padding: 5px 20px 20px 80px;
}

#footer {
  margin-top: -25px;
  background-color: #d8d8d8;
  height: 20px;
  clear: both;
  text-align: right;
  padding-right: 20px;
  padding-top: 4px;
  border-top: 1px solid #a8a8a8;
  font-size: 8pt;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#spinner {
  display: none;
  position: relative;
  top: 3px;
}

#charcount {
  font-size: 8pt;
}

.charwarning {
  font-color: red;
}

#shortenerr {
  color: red;
  font-size: 8pt;
  display: hidden;
}

.tweet {
  width: 600px;
  border-top: 1px solid #bbb;
  padding: 5px 10px;
}

#tweets .tweet:nth-child(odd) {
  background-color: #ddd;
}

.long_url {
  font-size: 8pt;
  color: gray;
  padding: 5px;
}

.tweet:last-child {
  border-bottom: 1px solid #bbb;
}

.tweet_options {
  margin-top: 8px;
  padding: 5px;
  font-size: 8pt;
  color: gray;
}

.status_sent a {
  color: green;
}

.status_error {
  color: red;
}